<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is home page </h1>

    <h2>customer id {{id}}</h2>
    <a href="{% url 'about' %}"><button>about</button></a>
    <a href="{% url 'demo:demoa' %}"><button>demoa</button></a>
    <a href="{% url 'sample:demoa' %}"><button>sample demoa</button></a>
    <a href="{% url 'venu' new='venugopal'%}"><button>venu</button></a>
</body>
</html>